/* .Settings__Wrapper {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  height: calc(98vh - 3.5rem);
  padding-top: 2rem;
  border: 2px solid black;
  border-radius: 1rem;
  overflow: auto;
} */

.Settings__Header {
  text-align: center;
}

.Settings__Body {
  margin-inline: 2rem;
  width: fit-content;
}

.Settings__Body p {
  max-width: 50ch;
}

@media screen and (min-width: 800px) {
  .Settings__Body {
    margin-inline: auto;
  }
}
